/** Most GWT widgets already have a style name defined */
.configurable-DialogBox {
	width: auto !important;
}
.gwt-sample-pattern-DialogBox {
	width: 500px !important;
}
.gwt-DialogBox {
	width: 400px;
}
.gwt-Advanced-KV-TextBox {
	width: 90% !important;
}
.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.alert-panel {
	text-align: left;
	vertical-align: middle;
}

.top_link_panel {
	text-align: left;
	vertical-align: bottom;
}

.width500px {
	width: 506px;
}

.alert-label {
	text-align: left;
	vertical-align: middle;
}

.add_border {
	border: 2px solid;
}

.bold {
	border-bottom: 1px solid #83BBD9;
	border-top: 1px solid #83BBD9;
	color: #0A5B93;
	font-weight: bold;
	padding: 2px 10px;
	text-align: left;
}

.bold-text {
	color: #0A5B93;
	font-weight: bold;
	text-align: left;
	padding-bottom: 8px;
	padding-top: 0;
}

.license-text {
	color: red;
	font-weight: bold;
	
	}
.top-links {
	text-align: left;
	font-weight: normal;
}

.batch-priority-urgent {
	background-color: #ff0000;
	color: black;
	width: 50px;
	height: 17.5px;
}

.batch-priority-high {
	background-color: #ff9c00;
	color: black;
	width: 50px;
	height: 17.5px;
}

.batch-priority-medium {
	background-color: #fff600;
	color: black;
	width: 50px;
	height: 17.5px;
}

.batch-priority-low {
	background-color: #fbf9bb;
	color: black;
	width: 50px;
	height: 17.5px;
}

.mainBody_box {
	border: 1px solid #83BBD9;
	padding: 10px;
	font-weight: bold;
}

.mainBody_box1 {
	padding: 10px;
}

.btn_blue {
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: transparent url(images/btn_blueBG.gif) repeat-x scroll 0 0
		!important;
	border: 1px solid #34A7DB !important;
	cursor: pointer !important;
	float: left;
	font-weight: bold;
	height: 26px !important;
	padding: 0px 10px 0 !important;
	text-decoration: none !important;
	font-size: 12px;
}

.gridHeading {
	color: #0A5B93;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}

.priority_combo_width {
	width: 70px;
}

.top_border {
	border-top: 1px solid #83BBD9;
}

.grid_th {
	border-bottom: 1px solid #83BBD9;
	border-top: 1px solid #83BBD9;
	color: #0A5B93;
	font-weight: bold;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px !important;
}

.strong_label {
	font-weight: bold;
}

.strong_label_black {
	color: black;
	font-weight: bold;
}

.fontBlue_16 {
	color: #0A5B93;
	font-size: 14px;
	font-weight: bold;
}

.fontBlue_16_header {
	color: #0A5B93;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 20px;
}

.EphesoftTableRow {
	border: 1px solid #83BBD9;
}

.grid_td {
	border-bottom: 1px solid #83BBD9;
	border-top: 1px solid #83BBD9;
	color: #0A5B93;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_first_cell_first_row {
	border-top: 1px solid #83BBD9 !important;
	border-bottom: 1px solid #D9D9D9;
	padding: 2px 65px 2px 20px;
	text-align: left;
	font-size: 12px;
	color: #0A5B93;
}

.grid_center_cell_first_row {
	border-top: 1px solid #83BBD9 !important;
	border-bottom: 1px solid #D9D9D9 !important;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_last_cell_first_row {
	border-top: 1px solid #83BBD9 !important;
	border-bottom: 1px solid #D9D9D9 !important;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_td_first {
	border-bottom: 1px solid #D9D9D9;
	color: #0A5B93;
	padding: 2px 20px;
	text-align: left;
	font-size: 12px;
}

.grid_td_last {
	border-bottom: 1px solid #83BBD9;
	border-right: 1px solid #83BBD9;
	color: #0A5B93;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_row {
	color: #0A5B93;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_cell_center {
	border-bottom: 1px solid #D9D9D9;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_cell_center_left {
	border-bottom: 1px solid #83BBD9;
	border-left: 1px solid #83BBD9;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.grid_cell_center_right {
	border-bottom: 1px solid #D9D9D9;
	padding: 2px 10px;
	text-align: left;
	font-size: 12px;
}

.home-body {
	background: #FFFFFF !important;
	border: 1px solid #6FA6C4 !important;
	padding: 18px 10px 10px 13px !important;
	overflow: auto;
}

.button-home-panel {
	padding-bottom: 6px;
	padding-top: 20px;
}

.landing-header {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 98% !important;
}

.row-highlight {
	background-color: #FFF380;
	cursor: pointer;
}

.row-unhighlight {
	background-color: #FFFFFF;
}

.logo_image {
	width: 197px;
	height: 35px;
}

.headerPanel {
	background: #FFFFFF;
}

.dataTable {
	border-left: 1px Solid #FF0000;
	border-right: 1px Solid #FF0000;
	border-top: 1px Solid #FF0000;
}

.table {
	border: 1px;
}

.header_label {
	
}

.landing-table {
	border-bottom: 1px solid #83BBD9 !important;
	border-top: 1px solid #83BBD9 !important;
	border-right: 1px solid #83BBD9 !important;
	border-left: 1px solid #83BBD9 !important;
}

.landing_header_table td {
	border-style: solid;
	white-space: nowrap;
	border-top: 1px solid #83BBD9 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	color: #0A5B93;
	font-weight: bold;
	padding-right: 50px;
	padding-left: 10px;
}

select,input[type="text"] {
	border: 1px solid #969696;
	font-size: 11px !important;
}

.landing_header_table div {
	float: left;
	cursor: pointer;
}

.landing_header_table {
	table-layout: auto !important;
	width: 100% !important;
}

.square {
	border: 1px solid #FF0000;
	background-color: yellow;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity =     40);
	position: absolute;
}

.secondSquare {
	border: 1px solid #FF0000;
	background-color: green;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity =     40);
	position: absolute;
}

.thirdSquare {
	border: 1px solid #FF0000;
	background-color: red;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity =     40);
	position: absolute;
}

.landing_data_table {
	table-layout: auto !important;
	width: 100% !important;
}

.thumbnailHighlighted {
	border: 2px solid #000000 !important;
}

.body_panel {
	background-color: white;
}

.button-style {
	border-style: solid;
	border-top: 0px solid #FFFFFF !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	color: #ffffff;
	font-weight: bold;
	padding-right: 50px;
	padding-left: 10px;
	padding-top: 20px;
	background: #0061a5 !important;
}

.custom-button {
	color: #800080;
	font-weight: bold;
	padding-right: 50px;
	padding-left: 10px;
	padding-top: 20px;
	position: relative;
	z-index: 1000;
	left: 80px;
	top: 20px;
}

.custom-panel {
	position: relative;
	z-index: 1000;
	left: 200px;
	top: 200px;
}

.pipe {
	background: transparent url(images/pipe.png) no-repeat scroll 0 0;
	height: 100%;
	width: 100%;
}

.validate_button_image {
	background: url("images/validate.gif") no-repeat scroll 0 0 transparent !important;
	height: 25px !important;
    width: 19px !important;
    border: none;
    cursor: pointer !important;
}

.top-box {
	position: absolute;
	border-style: solid;
	border: 2px solid #92C1F0;
	/*width: 98% !important;
	align: center;
	/*background-color: #D0E4F6*/
}

.align-center {
	align: center;
}

.header_tabs {
	position: absolute;
	top: 10px;
	border-bottom: 1px solid #92C1F0;
}

.logoPanel {
	position: absolute;
	top: 3px;
	bottom: 5px;
	left: 10px;
}

.gwt-ListBox {
	border: 1px solid #92C1F0 !important;
}

.gwt-TextBox {
	border: 1px solid #92C1F0 !important;
}

.posl10 {
	left: 10px !important;
	width: 98% !important;
}

.pad0 {
	padding: 0 !important;
}

.btn_table {
	border-top: 2px solid #92C1F0 !important;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.listBox {
	position: relative;
	z-index: 1000;
	left: 20px;
	top: 20px;
}

.batchAlertText {
	font-weight: bold;
	color: #5a595a !important;
}

.blk_bold_text {
	font-weight: bold;
	color: #000000 !important;
}

.left10 {
	left: 10px !important;
}

.right1 {
	right: 1% !important;
}

.font_blue {
	color: #639ace !important;
}

.blue_link {
	color: #639ace !important;
	text-decoration: underline !important;
	cursor: pointer !important;
}

.blue_link:hover {
	text-decoration: none !important;
}

.gwt-Button {
	height: 25px;
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: #0061A5 none repeat scroll 0 0 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top: 0 solid #FFFFFF !important;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer !important;
}

.gwt-Button[disabled] {
	height: 25px;
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: #CCCCCC none repeat scroll 0 0 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top: 0 solid #FFFFFF !important;
	color: #FFFFFF !important;
	font-weight: bold;
	cursor: pointer !important;
}

.disableButton {
	height: 25px;
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: #CCCCCC none repeat scroll 0 0 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top: 0 solid #FFFFFF !important;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer !important;
}

.fuzzySearchButton {
	width: 30px;
	height: 20px;
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: #0061A5 none repeat scroll 0 0 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top: 0 solid #FFFFFF !important;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer !important;
}

.cursorHand {
	cursor: pointer !important;
}
.cursorHand:hover {
	text-decoration:underline !important;
}

.mainPanelLayout {
	border: 2px #92C1F0 solid;
}

.groupPanelLayout {
	background-color: #C8E0F8;
	height: 60px;
	vertical-align: middle;
}

.compositePanelLayout {
	height: 80px;
	border: 1px #E0F5FF solid;
	background-color: #E0F5FF;
	vertical-align: middle;
}

.customBreadButton {
	position: relative;
	top: 10px;
	left: 100px;
}

.leftPadding {
	left: 5px !important;
	top: 3px !important;
}

.topPadd {
	top: 3px !important;
}

.wordWrap {
	word-wrap: break-word;
}

.wordWrap > div {
	padding: 5px;
}

.selectedRow {
	background: #adcce7;
}

.oddRow {
	background: #e7e9e9;
}

.evenRow {
	background: #ffffff;
}

.header {
	gwt-image: 'gradient';
	background-color: #ceebff;
	background-image: none !important;
	table-layout: fixed;
	height: 32px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.border {
	border: 1px solid blue;
}

.fullWidth {
	width: 100% !important;
}

.backgroundGrey {
	background-color: #ceebff;
}

.header {
	gwt-image: 'gradient';
	background-color: #ceebff;
	background-image: none !important;
	table-layout: fixed;
	height: 32px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.header td {
	font-weight: bold;
	text-shadow: #fff 0 2px 2px;
	border-bottom: 1px solid #ceebff;
}

.tableViewListBox {
	border: 1px solid White !important;
	width: 150px;
	height: 20px;
}

.margin {
	margin: 2px !important;
}

.middle {
	margin: 2px !important;
}

.sample_style {
	color: red;
	font-size: 11px;
}

.footer {
	text-align: center !important;
	font-weight: bold;
	color: blue !important;
	text-decoration: underline;
	cursor: pointer;
}

.scrollClass {
	overflow: auto;
	height: 400px;
	border-width: 1px;
	border-color: #92C1F0;
	border-style: solid;
}

.link_style {
	text-decoration: underline;
	cursor: pointer;
}

.border {
	border-color: #92C1F0;
	border-style: solid;
	border-width: 3px 2px 2px;
	overflow: hidden;
	padding: 6px;
}

.right_border {
	border-right: 2px solid #92C1F0;
	overflow: hidden;
	padding: 6px;
}

.background_group {
	background-color: #EFF7F7;
}

.button_image_overlay {
	border: 0 solid #B3B3B3;
    height: 30px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #EFF7F7;
}

.pointer {
	cursor: crosshair;
}

.border-result-table,.border-result-table tr td {
	border: 1px solid #92C1F0;
	text-align: center;
}

.border-result-table tr td {
	padding: 5px;
}

.overflow_scroll {
	overflow: scroll !important;
}

.error_style {
	color: red;
	font-size: small;
	font-weight: bold;
	padding-left: 5px;
}

.source {
	
}

.attach-button {
	margin: 1px 10px 10px;
	height: 25px;
	-moz-background-clip: border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: #0061A5 none repeat scroll 0 0 !important;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top: 0 solid #FFFFFF !important;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer !important;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
	max-width: 240px;
	overflow-x: scroll;
}

.disabled {
	background: grey none repeat scroll 0 0 !important;
}

.enabled {
	background: #0061A5 none repeat scroll 0 0 !important;
}

.batchListGroupPanelLayout {
	background-color: #C8E0F8;
	height: 40px;
	vertical-align: middle;
}

.batchListCompositePanelLayout {
	height: 50px;
	border: 1px #E0F5FF solid;
	background-color: #E0F5FF;
	vertical-align: middle;
}

.gwt-TabBarItem-selected {
	cursor: default !important;
}

.text-limit {
	-o-text-overflow: ellipsis; /* Opera */
	text-overflow: ellipsis; /* IE, Safari (WebKit) */
	overflow: hidden; /* don't show excess chars */
	white-space: nowrap; /* force single line */
	width: 60px; /* fixed width */
}

.subPanelHeight {
	height: 68px;
}

.custom-web-scanner-Button {
	width: 150px !important;
}

.hyperlinkWithPadding {
	padding-left: 16px;
	cursor: pointer !important;
}

.dependency_color {
	background-color: #FFFF00;
}

.custom-workflow-panel {
	position: relative;
	left: 200px;
}

.custom-workflow-listbox {
	overflow: auto;
	width: 300px;
}

.bold-text-black {
	font-weight: bold;
	text-align: left;
	padding-bottom: 8px;
	padding-top: 0;
}

.dependencyPanelLayout {
	border: 1px #92C1F0 solid;
	background-color: white;
}

.buttonsPanelLayout {
	background-color: #C8E0F8;
}

.options_Box {
	padding: 10px;
	font-weight: bold;
	spacing: 10px;
}

.custom-ListBox {
	border: 2px solid #92C1F0 !important;
}

.helpContent{
	background-color: #C8E0F8;
	font-size: 12pt;
	text-align:center;
	word-spacing:3px;
	line-height:120%;
	border: 2px solid #92C1F0;
}

.fe-footer {
	padding: 4px;
	background-color: #D0E4F6;
	font-weight: bold;
	text-align: right;
	padding-right: 30px;
}

.whiteBackground {
	background-color: white;
}

.tableBorderCollapse {
	border-collapse: collapse;
}

.optionsPanel {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.sample_regex_button {
	width: 120.0px;
}


.button_padding{
	padding-top: 4px;
    padding-left: 15px;
    padding-left: 4px\0;
}

.text_area {
	width: 75px !important;
}

.scroll_panel_height {
	height: 9em;
	height: 8em\0;
	width: 100%;
}

.scroll_panel_plugin {
	height: 15em;
	height: 14em\0;
	width: 100%;
}