<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%p] [%t] [%c] - %m%n" />
    </layout>
  </appender>

  <appender name="CORE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${dcma.home}/dcma-all.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %t %c - %m%n"/>
    </layout>
  </appender>

  <appender name="ERRORS" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${dcma.home}/dcma-errors.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %t %c - %m%n"/>
    </layout>
  </appender>

  <appender name="USERLOGENTRY" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${dcma.home}/dcma-user-log-entry.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="30"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %m%n"/>
    </layout>
  </appender>

   <!-- EMail events to an administrator -->
   <appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
     <param name="Threshold" value="ERROR"/>
     <param name="To" value="enterprise.support@ephesoft.com"/>
     <param name="From" value="enterprise.support@ephesoft.com"/>
     <param name="Subject" value="Email logs"/>
     <param name="SMTPHost" value="${mail.host}"/>
     <param name="BufferSize" value="10"/>
     <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}, %X{host}] %m%n"/>
     </layout>
   </appender>

  <logger name="com.ephesoft">
    <level value="ERROR" />
  </logger>

  <logger name="org">
    <level value="ERROR" />
  </logger>

  <!-- logger name="org.hibernate">
    <level value="INFO" />
  </logger-->

  <root>
    <level value="ERROR"/>
    <appender-ref ref="CORE"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</log4j:configuration>
